.benefits{
    height: 100%;
    background-color: #f3f3f3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    padding: 5% 5% 0% 5%;
    gap: 3%;
}
.bb{
    height: 100%;  
}
.benefit-img{
    height: 100%;
    width: 100%;
}
.cc{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 0.7fr 2.3fr;
}
.cc11{

}
.CCh1{
    padding-top: 10%;
    font-weight: bolder;
    font-size: 2vw;
}
.CCh2{
    color: #4DB8EF;
    font-weight: bolder;
    font-size: 3vw;
}
.cc22{

}
.cc-para{
    font-size: 1.5vw;
    line-height: 5.5vh;
    font-weight: lighter;
    word-spacing: 0.7vw;
}

