.benefits{
    height: 95vh;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: -50px;
    background-color: #f3f3f3;
}

.benefit-img{
    height: 35vw;
    width: 58vw;
    margin-left: -30%;
    margin-bottom:15px;
    margin-top: -20px;
}


.aa{
    padding: 5px;
    width: 100%;
    height: 100%;
    margin-top: 5%;

}

.dd{
   
  width: 10%;
    height: 300px;
    float:left;
}

.bb{
    
    width: 40%;
    height: 300px;
    float:left;
    
}
.cc{
    /* background-color: #ffffff; */
    width: 35.5%;
    height: 348px;
    float:left;
    /* text-align: center; */
    margin-left:4.5%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:start;
}

.cc-h1{
    font-size: 26px;
    line-height: 42px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: -27px;
}

.cc b{
    color: #4DB8EF;
}
.span-h1{
    font-size: 32px;
    font-weight: bold;
}

.cc-para{
    font-size: 19px;
    line-height: 32px;
    margin-top: 5%;
    font-weight: lighter;
    margin-left: 10px;
    word-spacing: 7px;
    width: 470px;
}