.edge{
    /* height: 100vh; */
    background-color: #f3f3f3;
}

.edge-h{
    padding-top: 3%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5%;
    color: #4DB8EF;
}
.edge-p{  
    font-size:x-large;
    margin-left: 5%;
    font-weight: 700;
    word-spacing: 0.5vmax;
}
span{
    align-items: center;
    font-size: 18px;
}

.row11{
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 10px 4px 20px 0px; */
    justify-content: center;
    padding: 0px 200px;
    gap: 20px;
}
.rov-div{
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 45px;
    padding: 10px 17px;
}

.row12{
    margin-left: 12%;
    display: flex;
    flex-direction:row;
}

.bttnn{
    padding: 11px;
    width: 13%;
    color: white;
    background-color:#4DB8EF ;
    border-radius: 7px;
    align-items: center;
    border: none;
    margin-left: 45%;
    box-shadow: 1px 1px 5px 1px #8080808f;

}
.bttnn:hover{
    box-shadow: 2px 2px 7px 2px #8080808f;
}

.bg-img{
    background-color: #e5eef3;
    padding: 10px;
    border-radius: 80%;
    width: 57px;
    height: 37%;
    grid-row: 1 / span 2;
}

.bg-img1{
    background-color: #e5eef3;
    padding: 5px;
    border-radius: 80%;
    width: 60px;
    height: 60px;
    grid-row: 1 / span 2;
}

.bg-img2{
    background-color: #e5eef3;
    padding: 5px;
    border-radius: 80%;
    width: 60px;
    height: 60px;
    grid-row: 1 / span 2;
}
.bg-img3{
    background-color: #e5eef3;
    padding: 10px;
    border-radius: 80%;
    width: 57px;
    height: 37%;
    grid-row: 1 / span 2;
}
.bg-img4{
    background-color: #e5eef3;
    padding: 5px;
    border-radius: 80%;
    width: 60px;
    height: 60px;
    grid-row: 1 / span 2;
}
.ecomicon{
    width: 42px;
    height: 43px;
    padding: 0px 0px 4px 0px;
}

.linkicon{
    width: 45px;
    height: 52px;
    padding: 0px 0px 0px 6px;
}
.hotracicon{
    width: 45px;
    height: 52px;
}

.loclicon{
    padding: 4px 5px 4px 5px;
    width: 50px;
    height: 50px;
}
.seoicon{
    width: 37px;
    height: 43px;
    padding: 0px 0px 2px 0px;
}

.mt-3{
    cursor: pointer;
    font-size: 20px;
}