.plan{
    height: 95vh;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: -55px;
    background-color: #fafafa;
}

.plan-img{
    height: 27vw;
    width: 50vw;
    margin-left: -43.5%;
    margin-bottom:15px;
    margin-top: 28px;
}


.aa{
    padding: 5px;
    width: 89%;
    height: 78%;
    margin-top: 2.5%;
    background-color:#f8fdff;
    margin-left: 6%;
}

.dd{
   
  width: 10%;
    height: 300px;
    float:left;
}

.bb{
    
    width: 40%;
    height: 300px;
    float:left;
    
}
.cc{
    /* background-color: #ffffff; */
    width: 35.5%;
    height: 348px;
    float:left;
    /* text-align: center; */
    /* margin-left:2.5%; */
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:start;
}

.cc-h1{
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-weight: bolder;
    font-family: unset;
    line-height: 55px;
}
.pln-h3{
    font-weight: bold;
    font-size: 35px;
}
.pln-h2{
    font-weight: bold;
    font-size: 42px;
}
.pln-h1{
    font-weight: bold;
    font-size: 43px;
}
.pln-h1 b{
    color: #4DB8EF;
}

.cc-para{
    font-size: 20px;
    margin-top: 5%;
    /* margin-right: 8px; */
    margin-left: 10px;
}

.planbttn{
    padding: 10px;
    width: 150px;
    color: white;
    background-color:#4DB8EF;
    border-radius: 7px;
    align-items: center;
    border: none;
    margin-left: 2%;
    margin-top: 18%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}
.planbttn:hover{
    /* font-weight: bold; */
    box-shadow: 2px 2px 7px 2px #8080808f;
    transition: 0.1s;
}