.policy{
    background-color: #f3f3f3;
  padding: 2% 5% 0% 5%;
}


.policy-img{
    height: 100%;
    width: 100%;
}

.aa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     "img img CA CA"
    "CA CA CA CA";
    gap: 3%;
}

.bb{
    grid-area: img;
    width: 100%;
    height: 100%;
   
}
.poli-cc{
    grid-area: CA;
    width: 100%;
    height: 100%;
}

.policc-h1{
    font-family:unset ;
  
    font-size: 25px;
  
    font-weight: 700;
    line-height: 42px;
}
.policc-para{
    font-size: 18px;
  
    width: 470px;
    word-spacing: 10px;
    text-align: justify;
}
.claritypara{
    font-size: 18px;
   
    text-align: justify;
    width: 430px;
    line-height: 35px;
}

.Initialbtn1{
    color: white;
    text-align: center;
    border-radius: 5px;
    background-color: #4DB8EF;
    border: none;
    padding: 10px;
  
    font-size: 15px;
    width: 15%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}

.Initialbtn2{
    color: #4DB8EF;
    background-color:white;
    text-align: center;
    border-radius: 5px;
    border-color: #4DB8EF;
    
    font-size: 15px;
    padding: 7px;
    width: 15%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}

.poli1{
    color: #4DB8EF;
    background-color:white;
    border:2px solid #4DB8EF;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
   
    font-size: 15px;
    width: 15%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}

.poli2{
    color: white;
    background-color:#4DB8EF;
    text-align: center;
    border-radius: 5px;
    border-color: #4DB8EF;
  
    font-size: 15px;
    padding: 7px;
    width: 15%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}

.Initialbtn1:hover, .Initialbtn2:hover, .poli1:hover, .poli2:hover{
    font-weight: bolder;
    box-shadow: 2px 2px 7px 2px #ddd4d48f;
  }

.spanpoli-h1{
    font-size: 29px;
    font-family: unset;
    font-weight: bold;
    color: #4DB8EF;
}

.subpara{

    font-size: 18px;
   
    line-height: 30px;
}
.claritypara2{
  
    font-size: 18px;
    text-align: justify;
    line-height: 25px;

}
.mainpolibtn{
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
}