.policy{
    /* height: 100vh; */
    margin-bottom: -26px;
    background-color: #f3f3f3;
}
.clarity{
    height: 110vh;
    /* margin-bottom: 15%; */
    margin-bottom: -25px;
    background-color: #f3f3f3;
}

.policy-img{
    /* height: 29vw;
    width: 58vw;
    margin-left: -25%; */
    margin-bottom:15px;
    margin-top: 20px;
    height: 35vw;
    width: 58vw;
    margin-left: -30%;
}

.aa{
    padding: 5px;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    
}
/* .aanew{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
} */

.dd{
  width: 10%;
  height: 300px;
  float:left;
}

.bb{
    width: 40%;
    height: 300px;
    float:left;  
}
.poli-cc{
     width: 35.5%;
     height: 348px;
     margin-left: 4.5%;
     margin-top: 3%;
     display: flex;
     flex-direction: column;
     justify-content:start;
}

.policc-h1{
    font-family:unset ;
    margin-top: 15px;
    font-size: 25px;
    margin-left: 55px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 42px;
}
.policc-para{
    font-size: 18px;
    margin-top: 5%;
    margin-left: 55px;
    width: 470px;
    word-spacing: 10px;
}
.claritypara{
    font-size: 18px;
    margin-top: 3%;
    margin-left: 55px;
    text-align: justify;
    width: 430px;
    line-height: 35px;
}

.Initialbtn1{
    color: white;
    text-align: center;
    border-radius: 5px;
    background-color: #4DB8EF;
    border: none;
    padding: 10px;
    margin-left: 35%;
    margin-top: 15%;
    font-size: 15px;
    width: 15%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}

.Initialbtn2{
    color: #4DB8EF;
    background-color:white;
    text-align: center;
    border-radius: 5px;
    border-color: #4DB8EF;
    margin-left: 2%;
    margin-top: -3%;
    font-size: 15px;
    padding: 7px;
    width: 15%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}

.poli1{
    color: #4DB8EF;
    background-color:white;
    border:2px solid #4DB8EF;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 15px;
    width: 15%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}

.poli2{
    color: white;
    background-color:#4DB8EF;
    text-align: center;
    border-radius: 5px;
    border-color: #4DB8EF;
    margin-left: 2%;
    margin-top: -3%;
    font-size: 15px;
    padding: 7px;
    width: 15%;
    box-shadow: 1px 1px 5px 1px #8080808f;
}

 .Initialbtn1:hover, .Initialbtn2:hover, .poli1:hover, .poli2:hover{
    font-weight: bolder;
    box-shadow: 2px 2px 7px 2px #ddd4d48f;
  }

.spanpoli-h1{
    font-size: 29px;
    font-family: unset;
    font-weight: bold;
    color: #4DB8EF;
}

.subpara{
    margin-top: -20%;
    font-size: 18px;
    margin-left: 11%;
    line-height: 30px;
}
.claritypara2{
    margin-left: 6%;
    font-size: 18px;
    text-align: justify;
    margin-top: 15px;
    line-height: 25px;
    margin-top: 100px;
}