.power{
  background-color: #f3f3f3;
  width: 100%;
  padding: 40px;
}
.power-container{
     /* width: 90%; */
     background-color: white;
     /* display: grid; */
     /* grid-auto-columns: auto auto; */
     /* grid-template-columns: auto auto; */
     padding: 0px 50px;
     justify-content: center;
}
.banner5{
  width: 97%;
  height: 80%;
  padding-left: 40px;
}
.power-heading{
  display: grid;
  border: 1px solid black;
}

.power h1{
  color: black;
  width: 591px;
  font-size: 40px;
  font-family: 'Poppins';
}
b{
  color: #4DB8EF;
  font-size: 50px;
}
.power-img{
    display: grid;
    border: 1px solid black;
    grid-row: 1/span 2;
    grid-column: 2/span 2;
}
.Power-Botton{
  border: 1px solid black;
}

.power-main{
  display: grid;
  grid-template-columns: 5fr 3fr;
}
.powerbttn{
  text-align: center;
    font-size: 18px;
    border: none;
    padding: 15px;
    width: 175px;
    background-color: orange;
    color: white;
    position: absolute;
    border-radius: 4px;
    top: 76%;
    left: 16%;
    transform: translate(-50%, -50%);
}
.powerbttn:hover{
  padding: 19px;
  transition: all 0.1s;
}
.power-images{
  position: relative;
}

.power-enq-btn:hover{
  box-shadow: 2px 2px 7px 2px #5a4e4e8f;
}

.line-shape{
  grid-row: 1/2;
    grid-column: 1/2;
}
.new-lady{
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  justify-self: center;
  height: 350px;
  width: 320px;
}
