.seo{
    height: 100vh;
    padding-top:10px;
    padding-bottom: 2%;
    background-color: #f3f3f3;
}
.seo-p{
    font-size: 28px;
    font-weight: 500;
    font-family: unset;
    width: 755px;
    padding: 10px 0px 10px 80px;
}
.seo-pp{
    font-size: 25px;
    margin-left: 5%;
    font-weight:900;
    font-family: unset;
}

.seo-p b{
    color: #4DB8EF;
    font-size: 36px;
}
.Main-Row{
    padding: 20px;
    justify-content: center;
    gap: 30px;
}

.row1{
    display: grid;
    grid-auto-flow:column;
    justify-content:center;
}
.row2{
    display: grid;
    grid-auto-flow:column;
    justify-content:center;
}

.row-item1{
    display: grid;
    justify-content: center;
    padding: 5px;
    border-radius: 200px;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  text-align: center;
  width: 330px;
}
.row-item1:hover{
    box-shadow: 10px 10px 17px 10px #8080808f;
    transition: 0.5s;
}

.content{
    justify-content: center;
    font-size: larger;
    cursor: pointer;
}
.content:hover{
   color: #4DB8EF;
}
.enqbtn{
    margin-top: 4%; 
    padding: 11px;
    width: 13%;
    color: white;
    background-color: #4DB8EF ;
    border-radius: 7px;
    align-items: center;
    border: none;
    margin-left: 45%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 5px 1px #8080808f;

}
.enqbtn:hover{
    box-shadow: 2px 2px 7px 2px #8080808f;
}