
.top{
  width: 100%;
  height: 85vh;
  /* margin-bottom: 0%; */
  /* padding: 10px; */
  background-image: url(/src/Image/Banner.svg);
  background-blend-mode:darken;
  background-size:cover;
  backdrop-filter: blur(50px);
  background-color: rgba(105, 101, 101, 0.2);
  /* display: grid; */

  /* grid-template-columns: 1fr;
  grid-gap: 5px; */
  display: flex;
  flex-direction: column;
}

.TOP{
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-columns: 4fr 1fr; */
  justify-content: space-around;
}
.top-main{
  height: 50%;
  width: 100%;
  display: flex;
  /* grid-template-columns: 5fr 1fr; */
  align-items: start;
  padding: .5% 7% 0px 7%;
}

.top-right {
width: 85%;
height: 100%;
display: flex;
flex-direction: column;
}
.ptext {
  width: 15%;
  display: flex;
  align-items: start;
  height: 100%;
  margin-top: 4.8%;
  /* display: grid;
  justify-content: end; */
}

.top-right p{
  color: rgb(255, 255, 255);
  font-size: 5vw;
  font-weight: bold;
}

.para1 span{
  color: #4db8ef;
  animation: blinker 1s linear infinite;
}
/* @keyframes blinker {
  50% {
    opacity: 0;
    font-size: 40px;
  }
} */

.talk{
  background-color: orange;
    padding: 10px 20px 10px 50px;
    text-align: center;
    color: white;
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
    transition: all .2s;
}

.talk-img{
  /* margin-left: 82%;
  margin-top: -250px; */
  cursor: pointer;
}

a{
  text-decoration: none;
}



.marquee {
  /* margin-top: 10%; */
  height: 20%;
  background-color: white;
  justify-content: space-between;
  /* grid-column: 1 / span 2; */
}

.marquee--inner {
  width: 263%;
  position: absolute;
  padding: 5px;
  animation: marquee 25s linear infinite;
  background: rgb(209, 145, 145);
}

.marquee--inner:hover {
  animation-play-state: paused;
}

.marquee--span {
  border: 2px solid white;
  float: left;
  width: 50%;
  justify-content: space-around;
  background: rgb(23, 43, 85);
}
.marquee--span img{
 width: 100px;
  justify-content: space-around;
}

@keyframes marquee {
  0% { right: 0; }
  100% { right: -100%; }
}


.complogo{
  justify-content: space-around;
  background: rgb(134, 31, 31);
}

.top-foot {
  font-size: 10px;
  text-align: center;
}
.top-foot b{
  color: #4db8ef;
}
.top .top-foot p{
  text-align: center;
  font-size: 25px;
  /* margin-top: 20px; */
  padding: 50px;
}

.ptext p:hover{
 color: rgb(255, 255, 255);
 font-weight: bolder;
}

 .pic1{
  height: 70px;
  width: 108px;
  padding: 7px;
  /* margin-top: 0px; */
}
.pic2{
  height: 70px ;
  width: 150px;
  padding: 4px;
}
.pic3{
  height: 70px ;
  width: 120px;
  padding: 4px;
}
.pic4{
  height: 75px;
    width: 156px;
  padding: 4px;
}
.pic5{
  height: 70px ;
  width: 120px;
  padding: 4px;
  /* margin-top: 13px; */
}
.pic6{
  height: 70px;
    width: 145px;
    padding: 7px;
}
.pic7{
  height: 70px;
    width: 124px;

    padding: 4px;
}
.pic8{
  height: 75px ;
  width: 65px;
  padding: 4px;
}
.pic9{
  height: 70px ;
  width: 75px;
  padding: 4px;
}
.pic10{
  height: 70px ;
  width: 120px;
  padding: 4px;
}
.pic11{
  height: 70px ;
  width: 105px;
  padding: 4px;
}
.pic12{
  height: 70px ;
  width: 140px;
  padding: 4px;
}
.pic13{
  height: 70px ;
  width: 90px;
  padding: 4px;
}
.pic14{
  height: 75px;
  width: 135px;
  padding: 4px;
}
.pic1{
  height: 70px;
  width: 108px;
  padding: 7px;
  /* margin-top: 0px; */
}
.pic2{
  height: 70px ;
  width: 150px;
  padding: 4px;
}
.pic3{
  height: 70px ;
  width: 120px;
  padding: 4px;
}
.pic4{
  height: 75px;
    width: 156px;
  padding: 4px;
}
.pic5{
  height: 70px ;
  width: 120px;
  padding: 4px;
  /* margin-top: 13px; */
}
.pic6{
  height: 70px;
    width: 145px;
    padding: 7px;
}
.pic7{
  height: 70px;
    width: 124px;

    padding: 4px;
}
.pic8{
  height: 75px ;
  width: 65px;
  padding: 4px;
}
.pic9{
  height: 70px ;
  width: 75px;
  padding: 4px;
}
.pic10{
  height: 70px ;
  width: 120px;
  padding: 4px;
}
.pic11{
  height: 70px ;
  width: 105px;
  padding: 4px;
}
.pic12{
  height: 70px ;
  width: 140px;
  padding: 4px;
}
.pic13{
  height: 70px ;
  width: 90px;
  padding: 4px;
}
.pic14{
  height: 75px;
  width: 135px;
  padding: 4px;
} 

.Seo-Button{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  /* margin-top: 85px; */
  gap: 20px;
  grid-column: 1 / span 2;
  height: 30%;
}

.seo-btn1{
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #4DB8EF;
  border: none;
  padding: 10px;
  font-size: 15px;
  height: 40px;
}
.seo-btn1:hover{
  font-weight: bolder;
  box-shadow: 1px 1px 5px 1px #ddd4d48f;
}

.seo-btn2{
  color: white;
  text-align: center;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #4DB8EF;
  font-size: 15px;
  padding: 7px;
  width: 180px;
  height: 40px;
}
.seo-btn2:hover{
  font-weight: bolder;
  box-shadow: 1px 1px 5px 1px #ddd4d48f;
}

